@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    /* @apply text-lg text-black bg-slate-600 ;
    font-family: 'Inter', sans-serif ; */
    /* color: red; */
    html, article {
      @apply light; /* Apply light mode styles by default */
    }
    
    .light {
      @apply bg-slate-50; /* Light mode background color */
      color: #000; /* Light mode text color */
    }
    
    .dark {
      @apply bg-dark-background-100 text-dark-txt-100; /* Dark mode background color */
      /* color: #fff; Dark mode text color */
    }

    html, body {
      overflow-x: hidden
    }

    input, textarea {
      @apply border-gray-300 dark:border-gray-900 text-gray-900 dark:text-gray-200 focus:border-rose-600 
      focus:outline-none 
      placeholder-transparent
      dark:bg-dark-background-200/50
      placeholder:text-sm
    }

    label {
      @apply 
      dark:text-dark-txt-100 text-xs peer-placeholder-shown:text-sm
      peer-placeholder-shown:text-gray-400
      peer-focus:text-sm peer-focus:text-gray-700
      peer-focus:dark:text-dark-txt-100 transition-all
    }
    
  }

  /* .light {
    @apply bg-slate-50
  }

  .dark {
    @apply bg-slate-800
  } */

  h1 {
    @apply mb-2 text-3xl font-bold;
  }

  h2 {
    @apply mb-1 text-xl font-semibold;
  }

  a {
    @apply text-light-accent-100 transition hover:text-light-background-100 underline-offset-4;
  }

  .btn {
    @apply px-4 py-2 text-white rounded-lg cursor-pointer hover:transition hover:duration-300 hover:opacity-80 disabled:bg-slate-400/30 hover:disabled:opacity-100 hover:disabled:cursor-default;
  }

  .btn-primary {
    @apply bg-blue-600;
  }

  .btn-secondary {
    @apply bg-slate-600;
  }

  input,
  select {
    @apply p-1 mb-1 border rounded-sm outline-none border-slate-300 text-slate-500;
  }

  input[type='text'] {
    @apply disabled:bg-slate-100;
  }

  input[type='checkbox'] {
    @apply p-2 mr-1 font-medium accent-purple-500;
  }

  label {
    @apply text-sm text-slate-700;
  }

  /* 
  select {
    @apply pr-6;
  } */

  .Select {
    @apply inline-block w-40 p-1 pr-6 mb-1 transition border rounded-sm outline-none cursor-pointer hover:bg-slate-100 border-slate-300;
  }

  .Select .child {
    @apply px-2 py-1;
  }

  .Select ul li {
    @apply hover:bg-slate-100;
  }

/* ! This is the PostCard section */

.postCard {
  @apply flex border
  bg-slate-100
  rounded-md shadow-inner gap-2
  w-screen sm:w-auto border-x-0
  dark:bg-slate-400
} 

.postCardColor {
  @apply bg-slate-100 dark:bg-slate-500 dark:text-zinc-900 text-slate-800
}

.postCardAuthorInfoColor {
  @apply bg-light-primary-200/60 text-light-txt-100 dark:text-dark-txt-200 dark:bg-dark-primary-100/60
}

.post-card-img {
  @apply w-32 flex-none rounded-lg bg-gray-500 basis-1/4
}

.postCardInfo {
  @apply basis-3/4
}

.postCardInfoTop {
  @apply flex justify-between
}

/* ! active postNavIcon */

.active {
  box-shadow: 0 4px 2px -2px rgb(221, 12, 12);
}


.last {
  @apply mb-12 bg-red-600
}

/* ! Raitings */

.numActive {
  @apply w-14 h-14 cursor-pointer
}

.num {
  @apply w-14 h-14 cursor-pointer
}


/* ! Meal Card Selector */

.mealCard {
  @apply flex flex-col items-center p-6 border cursor-pointer shadow-lg rounded-md
}


.mealIcon {
  @apply w-6 h-6 
}

.selectedMealCard {
  @apply text-red-400
}

.meal-type-icon {
  @apply w-6 h-6 mr-2 text-gray-500 ml-2
}
/* 
.meal-type-text {
  @apply text-lg
} */

/* ! Friend Request Card */

.friendListCard {
  @apply flex justify-between items-center gap-4 shadow-lg
  w-[350px] md:w-[400px] h-24 border-b-2 dark:border-dark-txt-200
}

.friendRequestBtn {
  @apply m-2 p-1 rounded-md text-white
}


.bg-color {
  @apply bg-light-primary-200
}

/* ! New post photo preview  */
/*! CSS for photo preview */
.photo-preview {
  width: 150px;
  height: 150px; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*! CSS for photo selection box */
.photo-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px dashed #ccc;
  cursor: pointer;
  position: relative;
}

.plus-icon {
  font-size: 48px;
  color: #ccc;
}

/*! Hide the input[type="file"] element */
input[type="file"] {
  display: none;
}


.photo-clear-btn {
  display: block;
  margin-top: 8px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}


.detailsLabel {
  @apply text-xs text-light-txt-100/80 dark:text-dark-primary-200/80
}


/*! Desktopview */

.desktopMaxWidth {
  @apply max-w-lg;
}